.page {
  position: absolute;
  top: 15svh;
  right: 0;
  height: 75svh;
  width: 50vw;

  transition: ease-in-out;

  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2vh;

  padding-top: 5svh;
  padding-bottom: 5svh;

  overflow-y: auto;
  overflow-x: hidden;

  -webkit-mask-image: linear-gradient(
    rgb(0 0 0 / 0),
    rgb(0 0 0 / 1) 5%,
    rgb(0 0 0 / 1) 95%,
    rgb(0 0 0 / 0)
  );
  mask-image: linear-gradient(
    rgb(0 0 0 / 0),
    rgb(0 0 0 / 1) 5%,
    rgb(0 0 0 / 1) 95%,
    rgb(0 0 0 / 0)
  );

}

/* .text-container {
  width: 40vw;

  display: grid;
  grid-template-rows: repeat(4, 15vh);
  grid-template-columns: repeat(4, 1fr);
  gap: 1vw; 

} */

.text-container {
  width: 40vw;
  margin-block: auto;

  display: flex;
  flex-direction: row;
  justify-content: left;
  gap: 2vw;
}

.text-collection {
  display: flex;
  flex-direction: column;
  gap: 0;
  margin: 0;
  padding: 0;
}