.page {
  position: absolute;
  top: 20svh;
  right: 0;
  height: 75svh;
  width: 50vw;

  transition: ease-in-out;

  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2vh;

  padding-top: 1em;

  overflow-y: auto;
  overflow-x: hidden;

  -webkit-mask-image: linear-gradient(
    rgb(0 0 0 / 0),
    rgb(0 0 0 / 1) 5%,
    rgb(0 0 0 / 1) 95%,
    rgb(0 0 0 / 0)
  );
  mask-image: linear-gradient(
    rgb(0 0 0 / 0),
    rgb(0 0 0 / 1) 5%,
    rgb(0 0 0 / 1) 95%,
    rgb(0 0 0 / 0)
  );

}

.title {
  background-color: rgba(31, 32, 46, 0.15);
  border-radius: 0.6vw;
  padding: 0.4vw;
}

/* .text-container {
  width: 40vw;

  display: grid;
  grid-template-rows: repeat(4, 15vh);
  grid-template-columns: repeat(4, 1fr);
  gap: 1vw; 

 } */

.text-container {
  width: 40vw;

  display: flex;
  flex-direction: row;
  gap: 2vw;
}

.text {
  width: 19vw;

  text-align: center;

  background-color: rgba(31, 32, 46, 0.15);
  border-radius: 0.6vw;
  padding: 0.4vw;
}

.empty {
  width: 19vw;
}

.blob {
  position: absolute;
  right: 0vw;
  height: 100vh;
  width: 50vw;
}

.blob2 {
  position: absolute;
  right: 0vw;
  height: 100vh;
  width: 50vw;
}