.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  font-family: 'Sono', sans-serif;
}

.loading {
  position: fixed;
  left: 50vw;
  top: 50vh;
  transform: translate(-50%, -50%);
}

.header {
  position: absolute;
  left: 0;
  top: 0;
  margin: 3vw;
  display: flex;
  flex-direction: column;
  align-items: center;

  color: #8d8d8d;
}

.svg-container {
  display: flex;
  flex-direction: row;
  padding: 0.2rem;
  margin: 0.2rem;

  /* width: 21rem; */
  width: fit-content;
  height: 1.75rem;

  background-color: #1f202e;
  border-radius: 0.6rem;
}

.svg-clickable {
  cursor: pointer;
}

.svg-selector {
  width: 2.75rem;
  height: 2.75rem;

  margin: -0.5rem;
  border-radius: 0.6rem;

  position: absolute;
}

.svg-selector-underlay {
  background-color: #1f202e;
  z-index: 0;
}

.svg-selector-overlay {
  background-color: #8d8d8d;
  opacity: 0.2;
}

.svg {
  width: 1.75rem;
  z-index: 1;

  color: #8d8d8d;
}